# Token del bot creado con @BotFather en Telegram
TELEGRAM_BOT_TOKEN=tu_token_aqui

# Tu ID de usuario en Telegram (puedes obtenerlo con @userinfobot)
TELEGRAM_CHAT_ID=tu_chat_id_aqui

# Intervalo de consulta a la API en milisegundos (5000 = 5 segundos)
POLL_INTERVAL=5000

# URL de la API de Owntracks (si el contenedor está en la misma red de Docker, puedes usar el nombre del servicio)
API_URL=https://gps.eainfospa.cl/api/0/last
